<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Register</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="/css/magister.css">
	<link rel="stylesheet" href="/css/register_v3.css">

	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><div class="icon-bar"></div> <div class="icon-bar"></div> <div class="icon-bar"></div> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="/">Home</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/register" class="active">Register</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
		</div>
	</div>
</nav>
<section class="section" id="head">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
				<h1 class="title">Personality Quiz Continued</h1>
			</div> 
		</div> 
		<div class="border-box" style="margin-top: 20px; margin-bottom:20px">
			<p>The next portion of the personality quiz will ask you to choose a statement that best conveys your thoughts on the picture associated with them. Please continue to answer these questions as honestly as possible. We will not share any of this information with anyone else unless given authorizaion.</p>
		</div>
		<div class="border-box" style="margin-top: 20px; margin-bottom:20px">
			<img src="/images/violin_child.jpg" alt="Violin Child" style="width:304px;height:228px;">
			<div>
			            <div style="float:left">
              <span >
              <input type="radio" name="options" autocomplete="off" style="float:left"> <p style="float:right">He's a genius.</p>
              </span>
<!--               </span>
              <span>
              <input type="radio" name="options" autocomplete="off">
              </span>              
              <span>
              <input type="radio" name="options" autocomplete="off">
              </span>              
              <span>
              <input type="radio" name="options" autocomplete="off">
              </span>              
              <span>
              <input type="radio" name="options" autocomplete="off">
              </span>              
              <span>
              <input type="radio" name="options" autocomplete="off">
              </span>              
              <input type="radio" name="options" autocomplete="off">
            </div> -->
       
		
				</div>
			</div>
		</div>
		    <div style="margin-left:14%">
        <a href="/"><button class="btn btn-lg btn-primary " style="width: 410px;"><strong>Finish Later</strong></button></a>
        <a href="/register_v5"><button class="btn btn-lg btn-primary " style="width: 410px;"><strong>Next</strong></button></a>
    </div>
	</div>
</section>

<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>
</body>