<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport"    content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author"      content="Sergey Pozhilov (GetTemplate.com)">
	
	<title>Register</title>

	<link rel="shortcut icon" href="assets/images/gt_favicon.png">
	
	<!-- Bootstrap itself -->
	<link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet" type="text/css">

	<!-- Custom styles -->
	<link rel="stylesheet" href="/css/magister.css">
  <link rel="stylesheet" href="/css/register_v3.css">
	<link rel="stylesheet" href="/css/register.css">



	<!-- Fonts -->
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet" type="text/css">
	<link href='http://fonts.googleapis.com/css?family=Wire+One' rel='stylesheet' type='text/css'>
</head>

<!-- use "theme-invert" class on bright backgrounds, also try "text-shadows" class -->
<body class="theme-invert">

<nav class="mainmenu">
	<div class="container">
		<div class="dropdown">
			<button type="button" class="navbar-toggle" data-toggle="dropdown"><div class="icon-bar"></div> <div class="icon-bar"></div> <div class="icon-bar"></div> </button>
			<!-- <a data-toggle="dropdown" href="#">Dropdown trigger</a> -->
			<ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
				<li><a href="/">Home</a></li>
				<li><a href="/login">Login</a></li>
				<li><a href="/register" class="active">Register</a></li>
				<li><a href="/about">About</a></li>
				<li><a href="/contact">Contact Us</a></li>
			</ul>
		</div>
	</div>
</nav>
<section class="section" id="head">
	<div class="container">
		<div class="row">
			<div class="col-md-10 col-lg-10 col-md-offset-1 col-lg-offset-1 text-center">	
				<h1 class="title">Complete Registration</h1>
			</div> 
		</div> 
    <div class="border-box2">
      <strong><p style="font size:20px">Emergency Contact</p><strong>
      <p>The emergency contact is a precautionary measure. If you believe that it will be helpful for other people to use in the event that something were to go wrong please fill out the form below. If not, you can ignore it and fill it out later if you would like.</p>
    </div>
	  	<div class="wrapper">
    		<div class="border-box2">
      			<p>First Name</p>
      			<input type="text" class="form-control" placeholder="First Name" autofocus="" style="width: 410px;"/>
      			</br>
      			<p>Last Name</p>
      			<input type="text" class="form-control" placeholder="Last Name" autofocus="" style="width: 410px;"/>
      			</br>
             <p>Phone Number</p>
      			<span>
      				<div style="float:left;">
      					<input type="text" class="form-control" placeholder="xxx" style="width: 125px;"/> 
      				</div>
      			</span>
      			<span>
      				<div style="float:left;">
      					<input type="text" class="form-control" placeholder="xxx" style="width: 125px;"/>  
      				</div>
      			</span>
            <span>
              <div style="float:left;">
                <input type="text" class="form-control" placeholder="xxxx" style="width: 140px;"/>  
              </div>
            </span>
      			<div class="clearfix">
      			</div>
            </br>
            <a href="/"><button class="btn btn-lg btn-primary " style="width: 205px;"><strong>Finish Later</strong></button></a>
            <a href="/"><button class="btn btn-lg btn-primary " style="width: 205px;"><strong>Complete</strong></button></a>

    		</div>
  		</div>
	</div>
</section>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/js/bootstrap.min.js"></script>

</body>